.top-container {
  display: flex;
  justify-content: space-between;
}
.time {
  font-weight: 900;
  font-size: 82px;
  line-height: 100%;
}
.date {
  font-weight: bold;
  font-size: 52px;
}
.temperature {
  font-weight: 900;
  font-size: 62px;
}
.weather {
  font-size: 48px;
  font-weight: 900;
}
.transport-container {
  margin-top: 9px;
}
.transport-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-top: 6px;
}
.transport-label {
  font-weight: 900;
  font-size: 48px;
}
.transport-times {
  font-weight: 900;
  font-size: 36px;
  margin-left: 8px;
}