/* .date-time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
} */
.time {
  font-weight: bold;
  font-size: 72px;
  line-height: 100%;
}
.date {
  font-weight: bold;
  font-size: 52px;
  margin-top: 0;
}
.transport-container {
  margin-top: 18px;
}
.transport-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-top: 6px;
}
.transport-label {
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
}
.transport-times {
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  margin-left: 12px;
}