body {
  width: 400px;
  height: 300px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling if content exceeds size */
  border: 1px solid #000; /* Optional: Visual border for clarity */
  box-sizing: border-box; /* Ensure padding/border doesn't exceed 400x300 */
}

:root {
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  height: 100%;

  line-height: 1;
  /* font-weight: 700; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}