[Unit]
Description=Dash
After=network.target

[Service]
Type=simple
User=jamescollier
WorkingDirectory=/home/jamescollier/Coding/slakah.github.io/dash
ExecStart=/usr/bin/zsh bin/server-run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

