[Unit]
Description=Headless Chrome
After=network.target

[Service]
Type=simple
User=jamescollier
Shell=/usr/bin/zsh
WorkingDirectory=/home/jamescollier/Coding/slakah.github.io/dash
ExecStart=/usr/bin/zsh -c "echo 'sleeping 2min...' && sleep 120 && bin/headless-chrome.sh"
MemoryMax=300M

[Install]
WantedBy=multi-user.target